# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Vite / build output
dist/
build/

# local envs
.env
.env.*.local
.DS_Store

# Editor
.vscode/
.idea/

# logs
logs
*.log

# OS
Thumbs.db
desktop.ini
